<!doctype html>
<footer
  class="bg-surface-container dark:bg-surface-container-highest w-full border-t border-outline-variant dark:border-outline mt-auto">
  <div
    class="flex flex-col md:flex-row justify-between items-center py-stack-lg px-margin-mobile md:px-margin-desktop max-w-container-max mx-auto gap-stack-md">
    <span class="text-headline-md font-headline-md font-bold text-primary dark:text-primary-fixed"
      >LA Science Fair</span
    >
    <nav class="flex flex-wrap justify-center gap-x-stack-lg gap-y-stack-sm">
      <a
        class="font-body-md text-body-md text-secondary dark:text-secondary-fixed-dim hover:text-primary dark:hover:text-primary-fixed hover:underline transition-all duration-200"
        href="about.html"
        >About</a
      >
      <a
        class="font-body-md text-body-md text-secondary dark:text-secondary-fixed-dim hover:text-primary dark:hover:text-primary-fixed hover:underline transition-all duration-200"
        href="mailto:president@lascifair.org"
        >Contact</a
      >
    </nav>
    <span
      class="font-body-md text-body-md text-secondary dark:text-secondary-fixed-dim text-center md:text-right text-[14px]">
      © <span id="copyright-year">2027</span> Los Angeles County Science &amp; Engineering Fair. All
      rights reserved.
    </span>
  </div>
</footer>
