<!DOCTYPE html>
<header
    class="bg-surface dark:bg-surface-container-low w-full border-b border-outline-variant dark:border-outline z-50 sticky top-0">
    <div
        class="flex justify-between items-center h-20 w-full px-margin-mobile md:px-margin-desktop max-w-container-max mx-auto">
        <div class="flex items-center gap-stack-lg">
            <a class="text-headline-md font-headline-md font-bold text-primary dark:text-primary-fixed shrink-0"
                href="home.html">LA Science Fair</a>
            <nav class="hidden md:flex gap-stack-lg ml-stack-xl">
                <a class="font-label-md text-label-md text-secondary dark:text-secondary-fixed-dim hover:text-primary dark:hover:text-primary-fixed transition-colors duration-200"
                    href="home.html" data-page="home.html">Home</a>
                <a class="font-label-md text-label-md text-secondary dark:text-secondary-fixed-dim hover:text-primary dark:hover:text-primary-fixed transition-colors duration-200"
                    href="news.html" data-page="news.html">News</a>
                <a class="font-label-md text-label-md text-secondary dark:text-secondary-fixed-dim hover:text-primary dark:hover:text-primary-fixed transition-colors duration-200"
                    href="schedule.html" data-page="schedule.html">Schedule</a>
                <a class="font-label-md text-label-md text-secondary dark:text-secondary-fixed-dim hover:text-primary dark:hover:text-primary-fixed transition-colors duration-200"
                    href="students.html" data-page="students.html">Students</a>
                <a class="font-label-md text-label-md text-secondary dark:text-secondary-fixed-dim hover:text-primary dark:hover:text-primary-fixed transition-colors duration-200"
                    href="judges.html" data-page="judges.html">Judges</a>
            </nav>
        </div>
        <div class="flex items-center gap-stack-md">
<a href="https://www.paypal.com/donate?token=AFFpP_I0UEADbST3y1NaXKYO5_22UzVODZy0iKy1AtH9zaPDyShV9u9svxgvgiAmWXVGEdK7fFVXv3GV" target="_blank" rel="noopener noreferrer"
                class="font-label-md text-label-md text-on-primary bg-primary-container px-6 py-2.5 rounded hover:opacity-90 transition-opacity">Donate</a>
        </div>
    </div>
</header>